.blog-form{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.blog-form button{
    align-self: flex-start;
    width: auto;
}

.notif{
    padding: 0.8em;
    font-size: 1.2em;
}

.success{
    border: 3px solid green;
    color: green;
    background-color: gainsboro;
}


.error{
    border: 3px solid red;
    color: red;
    background-color: gainsboro;
}

.container{
    display: flex;
    align-items: center;
}

.container > div{
    margin-right: 0.3em;
}
